<div class="row" >
 
  <div class="col-12" style="margin-left: 310px;">
    <h1>Contact</h1>
        <p style="font-size: 3vh;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor diam non ante tempus vulputate.<br> Maecenas a mattis velit, ut placerat tortor.  Cras iaculis ex non justo rutrum mollis nec sed arcu.</p>
  </div>
  
  <div class="col-7">
    <div style="height: 290px; width: 50%; margin-left: 300px;"> 
        <div class="h-50 w-100 d-inline-block" style="width: 150px;"> 
          <form div class="bg-light" style="height: 250px; width: 800px; padding: 5px; margin-left: 150px;" >
            <div class="form-group row" style="margin: 10px;">
              <label for="inputEmail" class="col-sm-2 col-form-label"><b>Your E-mail</b></label>
              <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
              </div>
            </div>
            <div class="form-group row" style="margin: 10px;">
              <label for="inputPassword3" style="padding-left: 10px;" class="col-sm-2 col-form-label"><b>Your message</b></label>
              <div class="col-sm-10">
                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Please enter your message here" ></textarea>
                <br>
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary btn-lg" style="float: right; margin-right: -89px; ">Submit</button>
                </div>
              </div>
    
    
              </div>
            </div>
    </div>
  </div>
</div>