<div class="row">

    <div class="col-3" style="margin-left: 100px; padding-left: 70px;">
        <img class="img-services rounded-circle" style="width: 350px; height: 350px;" src="https://images.ctfassets.net/q33z48p65a6w/4ny6DNzQdhMn15sUnZWh9w/507ab2fe0555fef8cc7f14bb13edc102/freelance-typing-allie-lehman.jpg?fit=thumb&fm=webp&h=576&q=70&w=960" alt="">
    </div>
    <div class="col-7">
        <h1>The Second Heading <font color="gray">Is Pretty Cool Too</font></h1>
        <p class="my-4" style="font-size: 3vh;">Fusce tristique tortor a risus iaculis laoreet. Cras eget mollis mi. Maecenas <br>efficitur fringilla tempus.  Praesent a nisl id est pulvinar elementum. Praesent quis tristique tellus. Ut faucibus.</p>
    </div>
    <hr class="shadow" style="margin: 48px;"></hr>
</div>